langchain
numpy<2.0
pandas
hana-ml>=2.25.25061701
langchain-community
langchain-core
langchain-experimental
langchain-text-splitters
pydantic
pydantic-core
generative-ai-hub-sdk[all]
cryptography
ipython<9.0
